body {
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #e1c1c1;
    max-width: 1200px;
    width: 100vw;
    overflow-x: hidden;
    margin:0 auto;
  
    background: linear-gradient(120deg, #e0eafc 0%, #cfdef3 100%);
    
    
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
